body {
  background: #eeedec;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}
.container {
  height: 100vh;
  width: 40%;
}
.form-control {
  margin-top: 10px;
}
.icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}
.time {
  height: 60vh;
}
.card {
  width: fit-content;
  margin: auto;
}
.my-4 {
  margin-top: 0rem !important;
  margin-bottom: 0.7rem !important;
}
.local {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
